apiVersion: v1
kind: Service
metadata:
  name: test-time
  namespace: baragae
spec:
  type: NodePort
  selector:
    app: baragae
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30001
